
.main_header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  height: var(--header-height);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--header-bg-color);
  position: sticky;
  top: 0;
}

.main_header .header_icon {
  width: 60px;
  margin-right: 20px;
}

.main_header ul {
  list-style: none;
  position: absolute;
  left:0%;
  top: var(--header-height);
  background-color: var(--header-bg-color);
  transition: transform 0.3s;
  border-radius: 0 0 5% 0;
}

.main_header ul li {
  padding: 12px 20px;
  width: 200px;
  font-weight: bold;
}

.main_header li a{
  color: #333;
  text-decoration: none;
}

.hideMenu{
  transform: translateX(-100%);
}
