@import url("./variables.css");

.image {
  height: 200px;
  border-radius: 100%;
  background-color: red;
}

.home {
  text-align: center;
  margin-top: 55px;
  margin-bottom: var(--sections-separation);
}

.home:target {
  margin-top: 0px;
}

.my_name {
  margin-top: 15px;
}

.my_description {
  margin-top: 5px;
  margin-bottom: 15px;
}

.contactSection {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactSection a {
  text-decoration: none;
}

.contactSection_icons {
  width: 30px;
  margin-top: 2px;
}

.downloadCV {
  color: #333;
  background-color: var(--header-bg-color);
  padding: 7px;
  border-radius: 5px;
  font-weight: bold;
}
