@import url("https://fonts.googleapis.com/css2?family=Itim&family=Ubuntu:wght@300&display=swap");
@import url("./variables.css");
@import url("./header.css");
@import url("./home.css");
@import url("./aboutMe.css");
@import url("./skills.css");
@import url("./projects.css");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:target::before {
  content: "";
  display: block;
  height: calc(60px + var(--header-height));
}

body {
  background-color: #eee;
  font-family: "Ubuntu", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 0px;
  margin-top: 40px;
}

.footer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer img {
  background-color: white;
  border-radius: 7px;
  margin: 0px 10px;
}

footer p {
  color: white;
  text-align: center;
  padding-bottom: 5px;
}
