.skills {
  /*margin-bottom: var(--sections-separation);*/
  text-align: center;
  width: 70%;
  margin-top: 250px;
}

.skills_title {
  margin-bottom: 10px;
}

.skills_grid {
  margin-top: 20px;
}

.skills_icon {
  width: 60px;
}
